@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* @font-face {
  font-family: "Inter";
  font-weight: 300;
  src: url("/public/fonts/static/Inter-Light.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url("/public/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  src: url("/public/fonts/static/Inter-Medium.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("/public/fonts/static/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("/public/fonts/static/Inter-Bold.ttf");
} */

/*  neutral-50 bg-gray-900 | zinc-400 neutral-400 | slate-500 slate-300 | slate-600 slate-100
    neutral-50 slate-900 bg

*/

@layer base {
  :root {
    --color-primary: 255 115 179;
    --color-secondary: 111 114 185;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-body;
  @apply text-base;
  @apply dark:text-neutral-400;
  @apply text-zinc-400;
}

h1, h2, h3, h4, h5, h6 {
  @apply text-slate-900;
  @apply dark:text-neutral-50;
  @apply font-bold;
}

h1 {
  @apply text-4xl;
  @apply md:leading-[50px];
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
