$colors: "gray", "zinc", "red", "amber", "green", "teal", "purple", "rose";  //TODO: use only one var for icons and buttons
$color_values: 100, 200, 300, 400, 500, 600, 700, 800;

@mixin btn-color($color, $value) {
  .btn-#{$color}-#{$value} {
    @apply bg-#{$color}-#{$value};
  }

  .btn-#{$color}-#{$value}:hover {
    @apply bg-#{$color}-#{$value + 100};
  }
}

@each $color in $colors {
  @each $color_value in $color_values {
    @include btn-color($color, $color_value);
  }
}
